
.swiper-main{
    max-width: 1140px;
    margin:auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap:30px;
    
  }
  
  .swiper-main div:nth-child(1) {
    grid-column: 1 / span 4;
  }
  
  .swiper-main div:nth-child(2) {
    grid-column: 7 / span 6;
  }
  
  .swiper-text{
    height: 173px;
    margin-top: 120px;
  }
  
  .swiper-text h2{
    font-family: Roboto-Bold;
    font-size: 48px;
    color: #222222;
  }
  
  .swiper-text p{
    font-family: Roboto-Regular !important;
    font-size: 20px !important;
  }
  
  .swiper-text-button{
    font-family: Roboto-Regular;
    font-size: 18px;
    width: 220px;
    height: 48px;
    background-color: white;
    border: solid 1px black;
    margin-top: 36px;
    cursor: pointer;
  }
  
  .swiper-pagination{
    
    width: 76px !important;
    height: 20px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    top:455px !important;
    left:20%!important;
    column-gap: 18px;
    
  }
  
  .swiper-container{
   position: relative !important;
   width: 100% !important;
   height: 535px !important;
   display: flex !important;
  }
  
  .swiper-pagination-bullet-active {
   background: #C41429  !important;
   width: 20px !important;
   height: 20px !important;
  }
  
  .swiper-pagination-bullet{
    border-radius: 0px !important;
  }
  
  .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
   margin: 0 var(--swiper-pagination-bullet-horizontal-gap, ); 
  }

  @media screen and (min-width: 270px) and (max-width: 480px) {

    /* swiper */
   .swiper-main{
     display:block ;
     height: auto;
     margin: auto;
     padding: 10px 10px;
   }
   .swiper-text{
     margin: auto;
     text-align: start;
   }
   
   .swiper-pagination{
     top: 500px !important;
     left: 0% !important;
     width: 100% !important;
   }
   .swiper-text-button{
     width: 120px;
     height: 30px;
     font-size: 15px;
   }
   
   .swiper-container{
     height: auto;
   }
   
  

   }