 .faq{
    max-width: 1140px;
    min-width: 270px;
    max-height:1200px;
    min-height: 580px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
  
  } 

   .head-faq{
    font-family: "Roboto-Medium", sans-serif;
    line-height: 46.88px;
    font-weight: 500;
    font-size: 42px;
    color: #000000;
  
  } 

.acor-container .acor-body {
	max-width: 1140px;
	height: 0;
	color: rgba(0, 0, 0, 0);
  background-color: white;
	line-height: 18px;
	box-sizing: border-box;
	transition: color 0.5s, padding 0.5s;
	overflow: hidden;
  font-family: "Roboto-Regular",sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.accordion {
	cursor: pointer;
  background-color: #ffffff;
  display: block;
  justify-content: space-between;
  align-items: center;
  text-align: left;
	padding: 30px 0px;
	width: 100%;
  color: #222222;
	box-sizing: border-box;
	z-index: 100;
  font-family: "Roboto-Medium", sans-serif !important;
	font-size: 18px;
  font-weight: 500 !important;
	transition: color .35s;
  border: none;
  height: 80px;
  outline: none;
}
.accordion:hover {
  color: #C41429; 
}
.radio{
  display: none !important;
}

.accordion:before {
  content:url(../img/toggle1.svg); 
	float: right;
}
.radio:checked + .accordion {
  color: #C41429; 

}
.radio:checked + .accordion:before {
    transition: transform .35s;
    transform: rotate(45deg);
    opacity: 75%;
}
.radio:checked + .accordion + .acor-body {
	height: auto;
	margin-top: -5px;
	color: #000;
	/* padding: 10px ; */
}
.divider{
  opacity: 50%;
  }

@media screen and (min-width: 270px) and (max-width: 480px) {

   

  .faq{
    padding: 10px 10px;
    max-height: 2000px;
  }
  .head-faq{
    font-size: 30px;
    margin: auto;
    display: flex;
    justify-content: center;
  }

  }