.info{
    width: 100%;
    background-color: #F4F4F4; 
    height: 230px;
  }
  
  .container-info{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 80px;
  margin: 0 auto;
  max-width: 1140px;
  width: 100%;
  }
  
  .block-info {
  margin: 60px auto;
  display:table-cell;
  align-items: center;
  text-align: center;
  font-family:'Roboto-Regular',sans-serif;
  font-size: 18px;
  font-weight: 400;
  
  }
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
    opacity: 0;
  }

  @media screen and (min-width: 270px) and (max-width: 480px) {
 
   
   /* info */
   .info{
     height: 370px;
     padding: 10px 10px;
   
   }
   .container1{
     display: block;
   }
   .text1, .text2, .text3{
     display: block;
     margin: 15px 15px;
   }
   
   }