.purchase{
    max-width: 1440px;
    width: 100%;
    height: 618px;
    margin: auto;
    display: block; 
    padding-top: 80px; 
    padding-bottom: 80px;
  }
  .purchase_cart{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap:10px;
    
  }
  .purchase_container{
    margin: auto;
    max-width: 1140px;
    width: 100%;
  }
  
  .purchase_text{ 
    margin-bottom: 30px;
    font-family: "Roboto-Medium", sans-serif;
    font-size: 40px;
    font-weight: 500;
  }
  .purchase-img{
   width: 100%;
  }
  .purchase_discript{
    font-family: "Roboto-Medium", sans-serif;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 12px;
  }
  .price{
    font-family: "Roboto-Medium", sans-serif;
    font-size: 22px;
  }
  .last_price{
    font-family: Roboto-Regular;
    font-size: 14px;
    text-decoration: line-through;
    margin-left: 15px;
    opacity: 60%;
  }

  @media screen and (min-width: 270px) and (max-width: 480px) {
   .purchase_text{
     display: flex; 
     justify-content: center;
     font-size: 30px;
     padding-left: 10px;
   }
   .purchase_cart{
     display: flex;
   }
   .purchase{
     height: auto;
   }
   .purchase-img{
     margin: auto;
   }
   .purchase_discript{
     display: flex;
     justify-content: center;
   }
   .price{
     margin-bottom: 12px;
     font-size:14px;
   }
   }