.video{
    background-color: #fff ;
    max-width: 1140px;
    width: 100%;
    height: auto;
    padding-top: 60px;
    padding-bottom: 60px;
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    margin: auto;
    gap: 100px;
  }
  
  .about-us-content{
    max-width: 485px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    font-family: "Roboto-Regular",sans-serif;
  
  } 
  .about-us-video{
    max-width: 555px;
    width: 100%;
    max-height: 420px;
    height: auto;
  }
  
  .about-us-content h2{
    margin-top: 15px;
    font-size: 40px;
    font-weight: 500;
    font-family: "Roboto-Medium", sans-serif;
  }
  .about-us-content :nth-child(2), .about-us-content :nth-child(3){
    margin-top: 40px;
    font-weight: 400;
    color: #222222;
    line-height: 26.1px;
  }
  
  

  @media screen and (min-width: 270px) and (max-width: 480px) {
   /* video */
   .video{
     display: block;
     height: 950px;
     margin: auto;
     padding: 10px 10px;
   }
   .about-us-head{
     font-size: 30px;
     display: flex;
     justify-content: center;
   }
   .about-us-text{
   width: 100%;
   }

   }